.eliminar:hover{
    background-color: rgb(254, 32, 32);
}
.eliminar:active{
    background-color: rgb(230, 38, 38);
    border: 2px solid red;
}

.editar:hover{
    background-color: #7309badd;
    border: 2px solid #790ec1dd;
}
.editar:active{
    background-color: #790ec1dd;
}